@font-face {
  font-family: 'Rye-Regular';
  src: url('./assets/fonts/Rye-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Chicle-Regular';
  src: url('./assets/fonts/Chicle-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Smokum-Regular';
  src: url('./assets/fonts/Smokum-Regular.ttf') format('truetype');
}
html {
  margin: 0;
  min-height: 100%;
  background-color: #3b5f3e;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #3b5f3e;
  background-image: linear-gradient(
    180deg,
    #3b5f3e 0%,
    #6e765f 30%,
    #9b5a55 70%,
    #7a2d2d 100%
  );
  background-repeat: no-repeat;
}

#root {
  min-height: 100vh;
  background: transparent;


  background: linear-gradient(
    180deg,
    #3b5f3e 0%,
    #6e765f 30%,
    #9b5a55 70%,
    #7a2d2d 100%
  );

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-logo {
  width: 420px;
  max-width: 75vw;
  height: auto;
  margin-bottom: 20px;
}

.landing {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 2rem 1rem 3rem;
  color: #04400b;
  text-align: center;
  box-sizing: border-box;
}

.landing h1 {
  font-family: 'Rye-Regular', sans-serif;
  font-size: 5.7rem;
  color: #3b5f3e;
  margin: 0;
  text-align: center;
}

.subtitle {
  padding: 30px;
  font-family: 'Rye-Regular', sans-serif;
  font-size: 2rem;
  color: #2b2118;
}

.address {
  margin-top: -20px;
  line-height: 1.1;
  font-family: 'Rye-Regular', sans-serif;
  font-size: 1.5rem;
  color: #2b2118;
}
.phone {
  text-decoration: none;
  color: #2b2118;
}

.phone h2 {
  margin: 0;
  font-family: 'Rye-Regular', sans-serif;
  text-decoration: none;
  color: #2b2118;
}
.instagram-link{
  text-decoration: none;
}
.instagram-link h2{
  font-family: 'Rye-Regular', sans-serif;
  text-decoration: none;
  color: #2b2118;
}
.button-container {
  margin-top: 40px;

  display: flex;
  gap: 20px;

  justify-content: center;
  flex-wrap: wrap;
}

.menu-box {
  width: 180px;
  height: 120px;

  background-color: #2b2118;
  color: #c5c7c6;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  font-family: 'Rye-Regular', sans-serif;
  font-size: 1.5rem;

  border-radius: 14px;

  transition: 0.3s ease;
}

.menu-box {
  width: 280px;
  height: 180px;
   background-color: #2b2118;
  color: #c5c7c6;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Rye-Regular', sans-serif;
  font-size: 2rem;
  border-radius: 14px;
  transition: 0.3s ease;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.menu-title {
  font-family: 'Rye-Regular', sans-serif;
  font-size: 6.7rem;
  color: #3b5f3e;
}
.appetizers-title {
  margin-top: 35px;
  color: #47202a;
  font-family: 'Chicle-Regular', sans-serif;
  font-size: 3.3rem;
}
.appetizers-options {
  margin-top: 5px;
  line-height: 1.1;
  font-family: 'Chicle-Regular', sans-serif;
  font-size: 1.5rem;
  color: #47202a;
}
.appetizers-title,
.salads-title,
.Soups-title,
.tacos-title,
.tortas-title,
.nachos-title,
.drinks-title,
.margaritas-title,
.mojitos-title,
.juices-title {
  font-family: 'Chicle-Regular', sans-serif;
  font-size: 4rem;
  color: #47202a;

  margin-top: 70px;
  margin-bottom: 20px;

  text-align: center;
}
.appetizers-options,
.salads-options,
.soups-options,
.tacos-options,
.tortas-options,
.nachos-options,
.drinks-options,
.margaritas-options,
.mojitos-options,
.juices-options {
  font-family: 'Chicle-Regular', sans-serif;
  font-size: 1.5rem;
  color: #0f0630;
  margin: 22px 0;
  padding: 0 15px;
  line-height: 1.4;
}
.about {
  margin-top: 15px;
  color:#04400b;
  font-family: 'Smokum-Regular', sans-serif;
  font-size: 1.8rem;
  padding-top: 80px;
  padding: 0 50px;
  padding-bottom: 50px;

}
.homepage-images {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.homepage-image {
  width: 250px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}
.order-box {
  background-color: #3241a2;
}
.menu-box {
  transition: all 0.15s ease;
}

.menu-box:active {
  transform: scale(0.98);
  filter: brightness(0.9);
}